/* COGS2 Midterm Clock Styles */
/* Last Edited: OCT 24, 2024 */

/* Add the fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

h1 {
    font-family: monaco, monospace;
    font-weight: 700;
    text-align: center;
    color: #679de9;/* light blue-gray */
    margin-top: 10vh;
    font-size: clamp(2em, 5vw, 7em);
}

body {
    background-color: #f0f4f8; /* very light blue-gray */
    text-align: center;
    align-items: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: clamp(0.75em, 2vw, 1em);
    font-family: monaco, monospace;
    background-color: #679de9; /* light blue-gray */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4a7ac7; /* darker blue-gray on hover */
}

.container {
  text-align: center;
  align-items: center;
  border-radius: 12px;
}

#clock {
    font-family: monaco, monospace;
    text-align: center;
    font-size: clamp(1.5em, 4vw, 6em);
    margin-top: 2vh;
    color: #679de9;/* light blue-gray */
}

#end-time {
    font-family: monaco, monospace;
    text-align: center;
    font-size: clamp(0.75em, 2vw, 4em);
    margin-top: 2vh;
    color: #679de9;/* light blue-gray */
}

#time-left {
    font-family: monaco, monospace;
    text-align: center;
    font-size: clamp(1.5em, 4vw, 6em);
    margin-top: 2vh;
    color: #679de9;/* light blue-gray */
}